body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Kavivanar', cursive;
  text-align: center;
}

.main-title {
	padding-top: 10px;
	font-size: 50px;
}

#drum-player {
	border: 2px white solid;
	margin: 20px 60px;
	padding: 20px;
}

#display {
	border: 1px white solid;
	width: 175px;
	margin: auto;
	font-size: 24px;
}

#drums {
	width: 300px;
	margin: auto;
	margin-top: 5px;
}

.drum-row {
	display: flex;
	justify-content: space-around;
}

.drum-pad {
	border: 1px yellow solid;
	border-radius: 10%;
	width: 75px;
	height: 75px;
	margin-top: 15px;
}

.drum-pad:hover {
	color: yellow;
}

.drum-pressed {
	border: 2px green solid;
}

.drum-text {
	margin-top: 22px;
	font-size: 20px;
}




